---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import { getCollection } from 'astro:content';
import TitleSection from '@components/ui/TitleSection.astro';
import SubTitleSection from '@components/ui/SubTitleSection.astro';
import ProseTemplate from '@components/ui/ProseTemplate.astro';

import FormattedDate from '@components/FormattedDate.astro';

// sort posts by date, newest first
const presse = (await getCollection('presse')).sort(
    (a, b) =>
        ((b.data.pubDate ?? 0).valueOf?.() ?? 0) -
        ((a.data.pubDate ?? 0).valueOf?.() ?? 0)
);
const ausstellungen = (await getCollection('ausstellungen')).sort(
    (a, b) =>
        ((b.data.pubDate ?? 0).valueOf?.() ?? 0) -
        ((a.data.pubDate ?? 0).valueOf?.() ?? 0)
);
---

<Layout
    title='Aktivitäten'
    backgroundColor='bg-white'
    navbarProps='bg-white/70'
>
    <Container
        classAstro='w-fit md:w-5/6 lg:w-[60%] flex flex-col pt-32 md:pt-56 mb-8 px-4 lg:px-0'
    >
        <article class='border-b-2 border-gray-400 mb-6 pb-4'>
            <TitleSection title='Aktuelles Ausstellungen' />

            {
                ausstellungen.length === 0 ? (
                    <p>Es gibt keine aktuellen Ausstellungen.</p>
                ) : (
                    ausstellungen.map((post) => (
                        <ul class='list-none md:py-4'>
                            <SubTitleSection title={post.data.title} />
                            <ProseTemplate>
                                <li>
                                    {post.data.description &&
                                        post.data.description
                                            .split('\n')
                                            .map((item) => <p>{item}</p>)}
                                </li>
                            </ProseTemplate>
                            <img
                                class='object-cover w-fit'
                                src={post.data.cover}
                                alt={post.data.coverAlt}
                            />
                        </ul>
                    ))
                )
            }
        </article>
        <article class='mt-10'>
            <TitleSection title='Presse' />
            {
                presse.length === 0 ? (
                    <p>Es gibt keine aktuellen posts.</p>
                ) : (
                    presse.map((post) => (
                        <li class='list-none p-4 shadow-sm transition duration-300 ease-in-out hover:shadow-lg hover:shadow-gray-400'>
                            <a href={`/aktuelles/${post.slug}/`}>
                                <div class='mb-6 mt-2 pb-10 pt-4'>
                                    <SubTitleSection
                                        title={post.data.category ?? ''}
                                        classSubTitle='text-gray-600'
                                    />
                                    <SubTitleSection title={post.data.title} />
                                    <p class='prose-base lg:prose-xl'>
                                        {post.data.pubDate && (
                                            <FormattedDate
                                                date={post.data.pubDate}
                                            />
                                        )}
                                    </p>
                                    <img
                                        class='my-6'
                                        width={600}
                                        src={post.data.cover}
                                        alt={post.data.coverAlt}
                                    />
                                    <ProseTemplate>
                                        {post.data.description &&
                                            post.data.description
                                                .split('\n')
                                                .map((item) => <p>{item}</p>)}
                                    </ProseTemplate>
                                </div>
                            </a>
                        </li>
                    ))
                )
            }
        </article>
    </Container>
</Layout>
