---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import FormattedDate from '@components/FormattedDate.astro';

// sort posts by date, newest first
const presse = (await getCollection('presse')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const ausstellungen = (await getCollection('ausstellungen')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout
    title='Aktivitäten'
    backgroundColor='bg-white'
    navbarProps='bg-white/60 backdrop-blur-sm drop-shadow-md h-30 md:h-34 lg:h-16'
    logoClassLayout=' lg:mt-40 drop-shadow-sm mt-0 md:bg-white bg-transparent'
>
    <Container
        classAstro='w-fit md:w-5/6 lg:w-[60%] flex flex-col md:place-items-center pt-32 md:pt-56 mb-8'
    >
        <article>
            <h2
                class='mb-4 mt-8 w-fit pl-4 text-3xl font-bold underline underline-offset-8'
            >
                Aktuelle Ausstellungen
            </h2>

            {
                ausstellungen.length === 0 ? (
                    <p>Es gibt keine aktuellen Ausstellungen.</p>
                ) : (
                    ausstellungen.map((post) => (
                        <li class='list-none p-4'>
                            <h3 class='mb-4 mt-8 w-fit text-pretty text-3xl font-bold'>
                                {post.data.title}
                            </h3>
                            <div class='lg:prose-3xl prose prose-2xl mb-6 mt-2 pb-10 pt-4'>
                                <p class='max-w-prose'>
                                    {post.data.description}
                                </p>
                            </div>
                            <Image
                                width={600}
                                src={post.data.cover}
                                alt={post.data.coverAlt}
                            />
                        </li>
                    ))
                )
            }
        </article>
        <article class='mt-10'>
            <h2
                class='mb-4 mt-8 w-fit pl-4 text-3xl font-bold underline underline-offset-8'
            >
                Presse
            </h2>
            {
                presse.length === 0 ? (
                    <p>Es gibt keine aktuellen posts.</p>
                ) : (
                    presse.map((post) => (
                        <li class='list-none p-4 shadow-sm transition duration-300 ease-in-out hover:shadow-lg hover:shadow-gray-400'>
                            <a href={`/aktuelles/${post.slug}/`}>
                                <div class='mb-6 mt-2 pb-10 pt-4'>
                                    <h3 class='mt-8 w-fit text-pretty text-3xl font-bold text-gray-600'>
                                        {post.data.category}
                                    </h3>
                                    <h3 class='w-fit text-pretty py-2 text-3xl font-bold'>
                                        {post.data.title}
                                    </h3>
                                    <p class='prose-base lg:prose-xl'>
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                    <Image
                                        class='my-6'
                                        width={600}
                                        src={post.data.cover}
                                        alt={post.data.coverAlt}
                                    />
                                    <div class='lg:prose-3xl prose prose-2xl mb-6 mt-2 pb-10 pt-4'>
                                        <p class='max-w-prose'>
                                            {post.data.description}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    ))
                )
            }
        </article>
    </Container>
</Layout>
