---
import type { detailsArtwork } from '@utils/types.d.ts';

interface Props {
    noId?: boolean;
    data: detailsArtwork;
    dataIndex?: number;
    isCurrent?: boolean;
}

const { noId, data, dataIndex, isCurrent } = Astro.props;

const linkUrl = data.isSeries
    ? `/${data.folder}/serie/${data.seriesId}`
    : `/${data.folder}/${data.id}`;
---

<div class:list={[`grid__cell`, { 'grid__cell--current': isCurrent }]}>
    <div class='grid__cell-img'>
        {data.isSeries && <span class='grid__cell-badge'>Serie</span>}
        <a href={linkUrl}>
            <img
                class='grid__cell-img-inner'
                id={noId ? undefined : `art-${data.id}`}
                src={data.imageUrl}
                alt={data.title}
                fetchpriority={dataIndex && dataIndex <= 4 ? 'high' : 'auto'}
            />
        </a>
    </div>
</div>
