---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Arrow from '@assets/UI/Arrow.astro';
import TitleSection from '@components/ui/TitleSection.astro';
import SubTitleSection from '@components/ui/SubTitleSection.astro';
import ProseTemplate from '@components/ui/ProseTemplate.astro';

const { item, url } = Astro.props;
---

<Layout
    title={item.data.title}
    backgroundColor='bg-white'
    navbarProps='bg-white/70'
>
    <Container
        classAstro='md:w-[60%] flex flex-col place-items-center pt-36 md:pt-56'
    >
        <section class='h-full'>
            <TitleSection title='Werke' />

            <div
                class='flex w-full flex-col justify-evenly gap-8 bg-white md:flex-row md:px-10 md:py-12'
            >
                <div class='flex-1'>
                    <img
                        class='md:max-w-3/4 pointer-events-none aspect-auto w-max shadow-2xl shadow-gray-800'
                        src={item.data.imageUrl}
                        alt={item.data.imageAlt ?? item.data.title}
                        title={item.data.title}
                        id={item.slug}
                        oncontextmenu='return false'
                    />
                </div>

                <div
                    class='flex w-full flex-col pl-8 md:w-1/3 md:justify-between'
                >
                    <ProseTemplate class='py-2'>
                        <SubTitleSection
                            title={`${item.data.title}`}
                            classSubTitle='italic'
                        >
                            <span class='not-italic text-gray-600'
                                >{
                                    item.data.year ? ` - ${item.data.year}` : ''
                                }</span
                            >
                        </SubTitleSection>

                        <!-- <div>
                            <h2
                                class='mb-4 mt-2 text-balance text-2xl md:text-base'
                            >
                                <span class='italic'>{item.data.title}</span>
                                {item.data.year ? `, ${item.data.year}` : ''}
                            </h2>
                        </div> -->

                        <p>{item.data.description}</p>
                    </ProseTemplate>
                    <div class='h-28 self-start'>
                        <a href={url}>
                            <Arrow
                                class='w-8 transition-all duration-300 ease-in-out hover:scale-150 md:w-10'
                            />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </Container>
</Layout>
