---
// Details of the selected picture
import { Picture } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Arrow from '@assets/UI/Arrow.astro';
// import MiniGrid from '../../components/MiniGrid.astro'

const { title, data, url, year } = Astro.props;

export async function getStaticPaths() {
    return data.map((el) => ({ params: { id: el.id } }));
}
export const prerender = true;

const { id } = Astro.params;
const images = data.find((image) => image.id == id);
const photoIndex = data.findIndex((images) => images.id == id);
const photoNumber = images?.id.toString().padStart(2, '0');

// const prevPhoto = malereiData[photoIndex - 1];
// const nextPhoto = malereiData[photoIndex + 1];
---

<Layout
    title={title}
    backgroundColor='bg-white'
    navbarProps='bg-white/60 backdrop-blur-sm drop-shadow-md'
>
    <Container classAstro='w-[60%] flex flex-col place-items-center pt-56'>
        <!-- TODO check if this section is necessary. Double section -->
        <section class='h-full'>
            <header>
                <h2 class='py-8 pl-20 text-3xl font-bold'>
                    <span class='border-b-2 border-white pb-1'>Werke</span>
                </h2>
            </header>
            <div
                class='flex flex-col justify-evenly bg-white px-10 py-12 md:flex-row'
            >
                <div class='flex-1'>
                    <Picture
                        class='max-w-3/4 pointer-events-none aspect-auto shadow-2xl shadow-gray-800'
                        src={images?.imageUrl ?? ''}
                        formats={['webp', 'avif']}
                        alt={images?.title ?? ''}
                        transition:name={`photo-${images?.id}`}
                        id={images?.id.toString()}
                        title={images?.title}
                        oncontextmenu='return false'
                    />
                </div>
                <!-- text & arrow -->
                <div
                    class='flex w-full flex-col pl-8 md:w-1/3 md:justify-between'
                >
                    <div
                        transition:name={`photo-details-${images?.id}`}
                        class='py-2'
                    >
                        <div>
                            <h2 class='mb-4 mt-2 text-base'>
                                <span class='italic'>{images?.title}</span>{
                                    images?.year === 0
                                        ? null
                                        : `, ${images?.year}`
                                }
                            </h2>
                        </div>

                        <p>
                            {images?.description}
                        </p>
                    </div>
                    <div class='h-28 self-start'>
                        <a href={url}>
                            <Arrow
                                class='w-6 transition-all duration-300 ease-in-out hover:scale-150 md:w-10'
                            />
                        </a>
                        <!-- <MiniGrid currentPhotoId={photo?.id} /> -->
                    </div>
                </div>
                <!-- picture -->
            </div>
        </section>
    </Container>
</Layout>
