---
import LayoutArt from '@layouts/LayoutArt.astro';
import GridCell from '@components/GridCell.astro';

interface Props {
    title: string;
    header: string;
    dataArt: any;
}

const { title, header, dataArt } = Astro.props;

const copyright = 'Birgit Matthias';
const linkAddress = 'algo@email';
---

<LayoutArt title={title}>
    <main>
        <div class='grid grid--large'>
            <div class='grid__cell grid__cell--padded'>
                <div class='frame'>
                    <h1 class='frame__title oh'>
                        <span class='oh__inner'>{header}</span>
                    </h1>
                    <p class='text-gray-600 text-balance text-sm'>
                        @Copyright
                        <a
                            href=`mailto:${linkAddress}`
                            target='_blank'
                            class='text-gray-800'
                        >
                            {copyright}
                        </a>
                    </p>
                </div>
            </div>
            {
                dataArt.map((art, index) => (
                    <GridCell data={art} dataIndex={index} />
                ))
            }
        </div>
    </main>
</LayoutArt>
