---
import imageComponent from '@assets/ausstellungen.avif';
import Container from '@components/Container.astro';

import { fetchDatoCMS } from '@api/fetchDatoCMS.js';
import { ausstellungQuery } from '@api/query.js';
import { StructuredText } from '@datocms/astro/StructuredText';

const json = await fetchDatoCMS(ausstellungQuery);
if (!json) {
    throw new Error('Failed to fetch data');
}
const data = json.data.ausstellungen;

import { getEntries } from 'astro:content';

const entries = await getEntries('events');
---

<Container
    classAstro='h-screen flex flex-col md:flex-row justify-center gap-14 py-20'
>
    <div class='flex-1 py-1 md:py-3'>
        <header class='ml-32'>
            <h2 class='text-3xl pb-16 font-bold'>
                <span class='border-b-2 border-white pb-1'>Ausstellungen</span>
            </h2>
        </header>

        <div class='aspect-w-16 aspect-h-9 bg-gray-300'>
            <img
                src={imageComponent.src}
                alt='Descripción'
                class='object-cover w-full h-full hidden'
                onload="this.style.display='block'; this.previousElementSibling.style.display='none'"
            />
        </div>
    </div>

    <article class='flex-1 h-fit md:py-5'>
        <div class='md:my-10 max-w-prose'>
            <h3 class='prose prose-xl py-5 font-bold'>{data.title}</h3>

            <div class='prose prose-xl list-none'>
                <StructuredText data={data.list} />
            </div>
        </div>
        <div>
            <h3 class='prose prose-xl py-5 font-bold'>
                {data.title2}
            </h3>
            <div class='prose prose-xl list-none'>
                <StructuredText data={data.list2} />
            </div>
        </div>
    </article>
</Container>
