---
import { getEntry } from 'astro:content';

import imageComponent from '@assets/ausstellungen.avif';
import Container from '@components/Container.astro';

import { fetchDatoCMS } from '@api/fetchDatoCMS.js';
import { ausstellungQuery } from '@api/query.js';
import { StructuredText } from '@datocms/astro/StructuredText';

const json = await fetchDatoCMS(ausstellungQuery);
if (!json) {
    throw new Error('Failed to fetch data');
}
const data = json.data.ausstellungen;

const entry = await getEntry(
    'ausstellungenDescription',
    'ausstellungendescription'
);
if (!entry?.data) {
    throw new Error('Error: Not found ausstellungendescription entry');
}
const { title1, description1, title2, description2, imageUrl, imageAlt } =
    entry.data;
---

<Container
    classAstro='h-screen flex flex-col md:flex-row justify-center gap-14 py-20'
>
    <div class='flex-1 py-1 md:py-3'>
        <header class='ml-32'>
            <h2 class='text-3xl pb-16 font-bold'>
                <span class='border-b-2 border-white pb-1'>Ausstellungen</span>
            </h2>
        </header>

        <div class='aspect-w-16 aspect-h-9 bg-gray-300'>
            <img
                src={imageUrl}
                alt={imageAlt}
                class='object-cover w-full h-full hidden'
                onload="this.style.display='block'; this.previousElementSibling.style.display='none'"
            />
        </div>
    </div>

    <article class='flex-1 h-fit md:py-5'>
        <div class='md:my-10 max-w-prose'>
            <h3 class='prose prose-xl py-5 font-bold'>
                {title1}
            </h3>

            <div class='prose prose-xl list-none'>
                {
                    description1 && (
                        <p class='text-xl leading-normal'>{description1}</p>
                    )
                }
            </div>
        </div>
        <div>
            <h3 class='prose prose-xl py-5 font-bold'>
                {title2}
            </h3>
            <div class='prose prose-xl list-none'>
                {
                    description2 && (
                        <p class='text-xl leading-normal'>{description2}</p>
                    )
                }
            </div>
        </div>
    </article>
</Container>
